@tailwind base;
@tailwind components;
@tailwind utilities;


.burger-button {
    position: relative;
    width: 30px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 600;
}

.burger-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
    transition: transform 0.3s ease;
}

.burger-line:nth-child(1) {
    top: 0;
}

.burger-line:nth-child(2) {
    top: 8px;
}

.burger-line:nth-child(3) {
    top: 16px;
}

.burger-line.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-line.active:nth-child(2) {
    opacity: 0;
}

.burger-line.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}